@use "sass:map";
@use "sass:math";
@use "config";
@import "ressources";

// GENERAL
html {
    overflow-x: hidden;
    font-size: config.$defaultfontsize;
    font-family: config.$fontfamily;

    input {
        font-family: 'lato', sans-serif;
    }
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    padding: 0.2em 0;

    font-weight: map.get(config.$fontweight, "x-large");
    letter-spacing: 4px;

    width: fit-content;
    border-top: 7px double config.$whitealmost;
    border-bottom: 7px double config.$whitealmost;



}

p {
    letter-spacing: 1px;
    line-height: 1.4em;
}

a {
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: config.$transitionhref;

    &:hover {
        text-decoration-color: rgb(0, 0, 0, 0);
        cursor: pointer;
    }
}
// Fonts for h1, h2...
@each $name,
$ratio in config.$fontsize {
    #{$name} {
        font-size: (map.get(config.$fontsizescreen, "smartphone") * $ratio);
    }
}

// GROUPED CLASS
h1,
h2,
h3 {
    text-transform: uppercase;
}

.coloredsection,
.checkmarksection,
.articlesection {
    p {
        text-align: justify;
    }
}

.headercontainer,
.coloredsection,
.prefooter {
    color: config.$white;
}

.intro,
.checkmarksection,
.articlesection,
.footer {
    color: config.$grey;
}

.coloredsection,
.checkmarksection,
.articlesection,
.prefooter,
.footer {
    @extend %flex-center-column;
    padding: map.get(config.$padding, "medium") map.get(config.$padding, "thin");

}

.coloredsection,
.checkmarksection {
    div {
        margin: map.get(config.$padding, "thin") 0;
    }

}

p,
h2,
h3 {
    font-weight: lighter;
}

h2,
h3 {
    letter-spacing: 1.5px;
    line-height: 1.4em;
}

// NAVBAR 
.buttonnavbar {
    top: 1em;
    left: 1em;
    position: absolute;

    height: 2.5em;
    width: 3.5em;

    padding: 1em;

    color: config.$whitealmost;
    background-color: rgba(config.$grey, 0.8);

    border-radius: 3px;
    border: 0;

    transition: config.$transitionnavbar;
}

.buttonnavbaricon {
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    width: 0.9rem;

    fill: config.$whitealmost;
}

.buttonnavbarcontainer {
    position: fixed;
}

.sidenav {
    width: config.$sidenavwidth;
    left: config.$sidenavwidth * -1;

    background-color: config.$black;
    height: 110%;
    position: fixed;
    top: -3.56em;

    transition: config.$transitionnavbar;

    ul {
        list-style-type: none;
        padding-left: 1em;

    }

    li {
        // padding: 0.5em;


        &::before {

            content: '';

            left: 1em;

            position: absolute;
            width: 90%;
            border-bottom: 1px solid config.$whitealmost;
            opacity: 0.1;
        }

    }

    >ul>li>a {
        font-weight: map.get(config.$fontweight, "x-large");
    }

    a {
        font-size: 0.9em;
        font-weight: 100;


        color: config.$greylightbutnotthatmuch;
        text-decoration: none;

        height: 2.8em;
        display: flex;
        align-items: center;

        transition: config.$transitionnavbar;

    }

    .homebutton {
        visibility: hidden;
    }



}

// CONTAINS EVERYTHING EXCEPT SIDENAV
.main {
    left: 0;

    position: relative;

    transition: config.$transitionnavbar;

}

//HEADER
.headercontainer {
    @include backgroundstyle("smartphone", "light", false, true, true, true);
    @extend %flex-center-column;
    padding: map.get(config.$padding, "large") map.get(config.$padding, "medium");
}

.header {
    opacity: 0;
    @extend %flex-center-column;

    transition: config.$transitionheader;

    h1,
    h3 {
        cursor: default;
    }
}

.button-header {
    max-width: 13.5rem;
}

// DECORATION AFTER HEADER
.line-decoration {
    @extend %flex-center-row;

    padding-top: map.get(config.$padding, "medium");

    width: 100%;

    // height: 10vh;

    &::before,
    &::after {
        display: inline-block;
        border-top: 1px solid config.$greylight;
        border-bottom: 1px solid config.$greylight;
        height: 0.3rem;
        content: '';
        width: 100%;

        opacity: 0.5;

    }

    i {
        margin: 0 2rem;

        font-size: 3em;

        color: config.$greylight;
    }

}


.intro {
    @extend %flex-center-column;
    padding: map.get(config.$padding, "medium") map.get(config.$padding, "thin");
    padding-top: map.get(config.$padding, "x-thin");

    a {
        color: config.$blue ;
    }
}

// ---------- CONTAINS SECTIONS : COLORED SECTION, CHECKMARK SECTION AND ARTICLES ----------
.sectioncontainer {
    @include backgroundstyle("smartphone", "dark", true, false, false, false);
    background-color: config.$whitealmost;
}
// COLORED SECTION
.coloredsection {
    background-color: config.$blue;
    svg {
        fill: config.$bluelight;
        width: 5em;
        margin: 0.5em;
    }

    div {
        margin: 0;
    }
}

.imgcoloredsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

// CHECKMARK SECTION
.checkmarksection i {
    color: config.$greylight;

    font-size: 5em;
}

// ARTICLES
.articlesection {
    background-color: config.$white;

    .article {
        margin: 3em 0;
    }

    img {
        width: 100%;
    }

    h2 {
        margin: 0;
    }
}


// button($name, $background color , $border color , $text color, background color on hover )
@include button("white", rgba(config.$white, 0), config.$white , config.$white , rgba(config.$white, 0.1));
@include button("grey", rgba(config.$grey, 0), config.$grey , config.$grey , rgba(config.$grey, 0.1));
@include button("blue", rgba(config.$blue, 1), config.$blue , config.$whitealmost , config.$blue );
@include button("header", rgba(config.$white, 0), config.$white , config.$white , rgba(config.$white, 0.1));

.button-blue:hover {
    filter: brightness(1.075);
}

// FOOTER
.prefooter {
    @include backgroundstyle("smartphone", "light", true, false, true, true);
}

.footer {
    background-color: config.$whitealmost;

    input {
        margin: 0.2rem;
        width: 2.5rem;

        transition: config.$transitionsocial;

        &:hover {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            filter: brightness(115%);
        }
    }

    p {
        font-size: 0.9em;
        line-height: 1em;
    }
}


@media screen and (min-width: 992px) {


    // GENERAL
    @each $name,
    $ratio in config.$fontsize {
        #{$name} {
            font-size: (map.get(config.$fontsizescreen, "desktop") * $ratio);
        }

    }

    body {
        background-image: config.$imgbanner;
        background-size: cover;
        background-attachment: fixed;
    }

    h1 {
        font-size: 3.4em;
        letter-spacing: 8px;
    }

    // GROUPED
    .prefooter,
    .footer,
    .coloredsection,
    .articlesection {
        padding: map.get(config.$padding, "large") map.get(config.$padding, "large");

    }

    // NAVEBAR
    .sidenav {

        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 6em;

        top: 0;
        left: 0;
        width: 100%;

        background-color: rgba(0, 0, 0, 0);

        z-index: 10;

        a {
            color: white;
        }

        strong {
            font-weight: 900;
        }

        ul {
            padding: 0;
        }

        >ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;

            >a {
                justify-content: start;
            }

        }

        >ul>li {
            margin: 0 2em;
        }

        >ul>li>a {
            .weight-x-large {
                font-weight: 900;
            }

            .weight-light {
                font-weight: 100;
            }
        }

        >ul>ul {
            top: 5em;
            right: 7.7em;

        }

        >ul>ul,
        ul>ul>ul {
            position: fixed;
            background-color: config.$white;
            width: 10em;
            visibility: hidden;

            color: #444747;

            border-bottom: 2px solid rgba(config.$grey, 0.1);
            border-right: 1px solid rgba(config.$grey, 0.08);
            border-left: 1px solid rgba(config.$grey, 0.08);
        }


        >ul>ul>li>a,
        >ul>ul>ul>li>a {
            color: config.$grey;
        }

        >ul>ul>ul {

            right: 17.7em;
            top: 12.25em;
        }

        li {
            &::before {
                display: none;
            }
        }

        .homebutton {
            width: 60%;
            visibility: visible;
            padding-left: 2em;
            text-transform: uppercase;

            display: flex;
            justify-content: start;

        }

        a {
            height: 1.5em;
            width: 100%;
        }

        ul,
        a {
            transition: 0.1s;
        }

        .btn-nav-white-bold {
            @include buttonNavbar(config.$white, false, rgba(config.$white, 0), config.$white, rgba(config.$white, 0.15), "bold", true);
        }

        .btn-nav-white-bold-scrolled {
            @include buttonNavbar(rgba(config.$grey, 0), false, rgba(config.$grey, 0), config.$grey, rgba(config.$grey, 0.1), "bold", true);
        }

        .btn-nav-white-light {
            @include buttonNavbar(config.$white, false, rgba(config.$white, 0), config.$white, rgba(config.$white, 0.15), "light", false);
        }

        .btn-nav-white-light-scrolled {
            @include buttonNavbar(rgba(config.$grey, 0), false, rgba(config.$grey, 0), config.$grey, rgba(config.$grey, 0.1), "light", false);
        }

        .btn-nav-blue-bold {
            @include buttonNavbar(config.$blue, true, rgba(config.$blue, 1), config.$whitealmost, rgba(config.$blue, 1), "bold", false);
        }

        >ul ul {
            padding: 1em 0;
            width: 10em;
        }

        .menulayouts::before {
            content: "";
            width: 1em;
            height: 1em;
            background-color: white;
            top: -0.3em;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            left: 1em;

        }

    }

    .whitespace {
        padding: 0.2em 1em;

        background-color: config.$white;
        height: fit-content;

        border-bottom: 1px solid config.$greylight;

        &:hover {
            background-color: config.$blue;
        }

    }

    .buttonnavbarcontainer {
        display: none;
    }
    // MAIN
    .main {
        position: static;
    }

    // HEADER
    .headercontainer {
        @include backgroundstyle("desktop", "light", false, true, false, true);
    }

    .header {
        padding: map.get(config.$padding, "medium") map.get(config.$padding, "medium");

        background-color: rgba(34, 8, 0, 0.4);

        width: 20em;
    }

    .line-decoration {
        i {
            font-size: 4em;
        }
    }

    .intro {
        padding: map.get(config.$padding, "medium") map.get(config.$padding, "xx-large");
    }

    // ---------- CONTAINS SECTIONS : COLORED SECTION, CHECKMARK SECTION AND ARTICLES ----------
    .sectioncontainer {
        @include backgroundstyle("desktop", "dark", true, true, false, false);
        padding: map.get(config.$padding, "large") map.get(config.$padding, "xx-large");
    }
    // Colored section
    .coloredsection {
        @include backgroundstyle("desktop", "light", false, true, false, false);
        flex-direction: row-reverse;


        svg {
            width: 7em;
            padding: 0.5em;
        }

    }

    .coloredsectiontext {
        min-width: 65%;
        max-width: 65%;
        text-align: left;
    }
    // checkmark section
    .checkmarksection {
        flex-direction: row;

        p {
            text-align: center;
        }

        div {
            margin: map.get(config.$padding, "thin") 0;
        }

        i {
            font-size: 7em;
        }
    }
    //articles section
    .containerarticle {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        p {
            text-align: center;
        }

        div {
            width: 45%;
        }
    }

    // 
    .btn-nav-blue-bold:hover {
        filter: brightness(1.075);
    }

    .btn-nav-white-light::before {

        top: 0;

        content: "";
        width: 0.4em;
        height: 0.4em;

        border-top: 3px solid white;
        border-left: 3px solid white;

        margin-right: 1em;


        transform: rotate(225deg);
    }

    .btn-nav-white-light-scrolled::before {

        top: 0;

        content: "";
        width: 0.4em;
        height: 0.4em;

        border-top: 3px solid config.$grey;
        border-left: 3px solid config.$grey;

        margin-right: 1em;


        transform: rotate(225deg);
    }
    
    // FOOTER
    .prefooter {
        @include backgroundstyle("desktop", "light", true, false, false, true);
    }

    .footer p {
        font-size: 1em;
    }

    .footer {
        input {
            width: 4em;
        }
    }

    .dottedpipe::after {
        content: "";
        height: 10.5rem;
        border-right: 1px dotted config.$grey;
        margin: 1rem;
    }

    // HELPERS
    .flex-center-row {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    .no-border-bot {
        border: 0px;
    }
    
}