//COLORS
$primary: #F3F6FA;
$secondary: #7C8081;
$secondarylight: #C9CDD0;
$tertiary: #FFFFFF;
$quaternay: #83D3C9;
$quaternarylight:#AEE2DC;
$fifth: #1C2021;


//FONTS
$defaultfontsize: 16px;

$fontfamily: Calibri, Arial, sans-serif;

$fontweight:("light":lighter, "medium": 500, "large": bolder);
$fontsizescreen: ("smartphone": 2em, "desktop":5em);
$fontsize:("h1":1.1, "h2":0.8, "h3":0.6, "p": 0.6);

$defaultfontweight: lighter;


//ANIMATIONS
$transitionnavbar: 0.7s;
$transitionbutton: 0.4s;
$transitionsocial: 0.3s;
$transitionheader: 3s;

//MARGIN & co
$padding:("large": 5em, "medium":2em , "thin":1.8em);