
@mixin button($name, $background, $border, $text, $hover)
{
    .button-#{$name}
    {
        text-align: center;

        background-color: $background;
        border: 1px solid $border;
        color: $text;

        font-size: config.$defaultfontsize;
        font-weight: map.get( config.$fontweight,"large" ) ;

        
        width: 100%;
        max-width: 17rem;

        line-height: 3em;

        margin: 0.5rem;

        transition: 0.3s;
        &:hover
        {
            background-color: $hover;
            cursor: pointer;
        }
    }
}




@mixin backgroundstyle($width, $color, $top, $bottom, $banner, $overlay, ) {
    $tr:null;
    $tl:null;
    $br:null;
    $bl:null;
    $bgimage:null;
    $bgrepeat:null;
    $bgsize:null;
    $bgposition:null;


    @if $color == "light"
    {
        $tr: url("media/background/light-tr.svg");
        $tl: url("media/background/light-tl.svg");
        $br: url("media/background/light-br.svg");
        $bl: url("media/background/light-bl.svg");
    }
    @if $color == "dark"
    {
        $tr: url("media/background/dark-tr.svg");
        $tl: url("media/background/dark-tl.svg");
        $br: url("media/background/dark-br.svg");
        $bl: url("media/background/dark-bl.svg");
    }

    
    @if $top 
    { 
        $bgimage: $bgimage $tl , $tr; 
        $bgrepeat: $bgrepeat no-repeat, no-repeat ;
        $bgsize: $bgsize map.get(config.$ornement, $width) , map.get(config.$ornement, $width) ;
        $bgposition: $bgposition top left, top right;
    }

    @if $bottom 
    { 
        @if  $top
        {
            $bgimage: $bgimage unquote("\002C")  ; 
            $bgrepeat:  $bgrepeat unquote("\002C") ;
            $bgsize: $bgsize unquote("\002C") ;
            $bgposition: $bgposition unquote("\002C") ;
        }

        $bgimage: $bgimage $br , $bl; 
        $bgrepeat: $bgrepeat no-repeat, no-repeat ;
        $bgsize: $bgsize map.get(config.$ornement, $width) , map.get(config.$ornement, $width) ;
        $bgposition: $bgposition bottom right, bottom left;
    }

    @if $overlay 
    { 
        @if $top or $bottom
        {
            $bgimage: $bgimage unquote("\002C")  ; 
            $bgrepeat:  $bgrepeat unquote("\002C") ;
            $bgsize: $bgsize unquote("\002C") ;
            $bgposition: $bgposition unquote("\002C") ;
        }
        $bgimage: $bgimage url("media/background/overlay.png"); 
        $bgrepeat: $bgrepeat repeat ;
        $bgsize: $bgsize 15em;
        $bgposition: $bgposition center;
    }
    
    @if $banner 
    { 
        @if $top or $bottom or $overlay
        {
            $bgimage: $bgimage unquote("\002C")  ; 
            $bgrepeat:  $bgrepeat unquote("\002C") ;
            $bgsize: $bgsize unquote("\002C") ;
            $bgposition: $bgposition unquote("\002C") ;
        }

        $bgimage: $bgimage config.$imgbanner; 
        $bgrepeat: $bgrepeat no-repeat ;
        $bgsize: $bgsize cover;
        $bgposition: $bgposition center;
    }

    background-image: $bgimage;
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgposition;
    
}

%flex-center-column
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    
}

%flex-center-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-align: center;
    
}