@use "sass:map";
@use "sass:math";
@use "config";
@import "ressources";





a
{
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: 0.4s;
    &:hover
    {
        text-decoration-color: rgb(0,0,0,0);
        cursor: pointer;
    }
}


.coloredsection, .checkmarksection, .articlesection
{
    p
    {
        text-align: justify;
    }
}

html
{
    overflow-x: hidden;
    font-size: config.$defaultfontsize;
    font-family: config.$fontfamily;
}

.imgcoloredsection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


h1
{
    width: fit-content;

    letter-spacing: 3px;

    border-top: 8px double config.$primary;
    border-bottom: 8px double config.$primary;
}

h2, h3
{
    letter-spacing: 1.5px;
}

p
{
    letter-spacing: 1px;
}

.footer 
{
    background-color: config.$primary;

    input
    {   
        margin: 0.2rem;
        width: 2.5rem;

        transition: config.$transitionsocial;
        &:hover{
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            filter: brightness(115%);
        }
    }
}

.headercontainer, .coloredsection, .prefooter
{
    color: config.$tertiary;
}

.sectioncontainer
{
    @include backgroundstyle("dark",true,false,false,false);
    background-color: config.$primary;
}

.header
{
    opacity: 0;
    @extend %flex-center-column;

    transition: config.$transitionheader;

    h1, h3
    {
        cursor: default;
    }
}

.coloredsection
{
    background-color: config.$quaternay;
}

.coloredsection, .intro, .checkmarksection, .articlesection, .prefooter, .footer
{
    @extend %flex-center-column;
    padding: map.get( config.$padding, "medium" ) map.get( config.$padding, "thin" ) ;
    
}


.headercontainer
{
    @include backgroundstyle("light",false , true, true, true);
}

.prefooter
{
    @include backgroundstyle("light",true ,false ,true,true );
}

.prefooter
{
    h2 
    {
        margin: auto 5rem;
    }
}

.headercontainer
{
    @extend %flex-center-column;
    padding: map.get(config.$padding, "large") map.get(config.$padding, "medium") ;
}

.main 
{
    left: 0;

    position: relative;

    transition: config.$transitionnavbar;

}

body
{
    margin: 0;
    overflow-x: hidden;
}



.buttonnavbar
{
    top: 1em;
    left: 1em;
    position: absolute ;

    height: 2.5em;
    width: 3.5em;

    padding: 1em;

    color: config.$primary;
    background-color: rgba(config.$secondary,0.8);

    border-radius: 3px;
    border: 0;

    transition: config.$transitionnavbar;
}

.buttonnavbaricon
{
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    width: 0.9rem;

    fill: config.$primary;

}

.buttonnavbarcontainer
{
    position: fixed;
}



.sidenav
{
    width: 90vw;
    left: -90vw;

    background-color: config.$fifth;
    height: 110%;
    position: fixed;
    top: -1.1em;

    transition: config.$transitionnavbar;
    ul 
    {
        list-style-type: none;
        padding-left: 1em;
    }
    li 
    {
        border-top: 0.5px solid rgba(config.$primary, 0.2);
        padding: 0.5em;

    }
    a
    {
        color: config.$primary;
        text-decoration: none;
    }
    
}


.articlesection
{
    background-color: config.$tertiary;

    .article
    {
        margin: 3em 0;
    }
    img{
        width: 100%;
    }
    h2 
    {
        margin: 0;
    }
}

.coloredsection, .checkmarksection{
    div 
    {
        margin: map.get(config.$padding, "thin") 0 ;
    }
   
}


.checkmarksection i
{
    color: config.$secondarylight;

        font-size: 5em;
}

.coloredsection 
{
    svg
    {
        fill: config.$quaternarylight;
        width: 5em;
        margin: 0.5em;
    }

    div 
    {
        margin:0;
    }
}






// button($name, $background color , $border color , $text color, background color on hover )
@include button("tertiary", rgba(config.$tertiary,0), config.$tertiary , config.$tertiary , rgba(config.$tertiary,0.1) ); 
@include button("secondary", rgba(config.$secondary,0), config.$secondary , config.$secondary , rgba(config.$secondary,0.1) );
@include button("quaternary", rgba(config.$quaternay,1), config.$quaternay , config.$primary , config.$quaternay );
@include button("header", rgba(config.$tertiary,0), config.$tertiary , config.$tertiary , rgba(config.$tertiary,0.1) ); 


.button-quaternary:hover
{
    filter: brightness(1.075);
}

.button-header
{
    max-width: 13.5rem;
}

@each $name, $ratio in config.$fontsize {
    #{$name} 
    {
        font-size: (map.get(config.$fontsizescreen, "smartphone") * $ratio) ;
        @if $name != "p" {
            text-transform: uppercase;            
        }
        @if $name != "h1" {
            font-weight: config.$defaultfontweight;            
        }
    }
    
} 

.intro, .checkmarksection, .articlesection, .footer
{
    color: config.$secondary;
}

.intro a
{
    color: config.$quaternay ;
}



@media screen and (min-width: 769px)
{
    @each $name, $ratio in config.$fontsize {
        #{$name} 
        {
            font-size: (map.get(config.$fontsizescreen,"desktop") * $ratio) ;
        }
        
    }   
}