

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;


    font-family: Arial, sans-serif;

}



h1
{
   font-size: 2em;
   margin: 0;
   text-align: center;
   text-transform: uppercase;
   
}

h2
{
   font-size: 2rem;
   text-align: center;
   font-weight: lighter;
}

h3
{
    

    font-size: 1.2em;
    text-align: center;
    margin: 10%;

    text-transform: uppercase;
    font-weight: lighter;
}


p
{
    font-size: 1.2em;
    text-align: center;
}

b
{
    font-weight:700;
}

img
{
    max-width: 100%;
}



hr.white
{
    border-top: 2px solid white;
    width: 135px;
    margin: 3px;
}

.buttonnavbar
{
    margin: 0;
    position: fixed;

    margin: 2vh 3vw;
    width: 13vw;
    height: 4.5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: #606164;
    
}

.inputbuttonnavbar
{
    height: 100%;
    width: 100%;

    display: block;
    position:absolute;

    
    border-width: 0;

    z-index: 2;

    opacity: 0;

}

.buttonnavbar span
{
  display: block;
  width: 23px;
  height: 3px;
  margin-bottom: 3px;
  position: relative;

  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;


}


.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #1C2021; 
    overflow-x: hidden;
    padding-top: 10vh; 
    transition: 0.5s; 
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #C6C7C7;
    display: block;
    transition: 0.3s;
  }
  

.button 
{
    height: 80px;
    width: 300px;

    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;

    border: 2px solid #ffffff;
    background-color: rgb(0,0,0,0);
}

.buttonblue
{
    margin: 20px;

    height: 80px;
    width: 300px;

    color: white;
    text-align: center;
    font-size: 2rem;

    border: 2px solid #83D3C9;
    background-color: #83D3C9;
}

.buttonblack
{
    height: 80px;
    width: 300px;

    color: #000000;
    text-align: center;
    font-size: 2rem;

    border: 2px solid #000000;
    background-color: rgb(0,0,0,0);
}



#main {
    transition: margin-left .5s;
  }

.main
{ 
    height: 100vh;
	max-width: 100vw;
    min-width: 100vw;
	display: flex;
    flex-direction: column;
	justify-content:flex-start;
	align-items: flex-start;


    
}



.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur
{
    filter: blur(4px);
}

.containerbgless
{
    

    color: white;

    background-size: cover;
    background-image: url('media/foret.webp');

    /*margin: 0;*/

   /* height: 80vh;
    width: 100vw;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;


}



.section1
{
    background-color: #F3F6FA;
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position:  center;
    background-position-y: -15vh;
    background-image: url('media/backgroundgrey.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section2
{
    color: white;

    background-color: #83D3C9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section2 img
{
    margin: 10px;
    max-width: 90px;
    max-height: 90px;
}


.section3
{
    background-color: #F3F6FA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section3 div
{
    text-align: center;
}

.section3 img
{
    max-width: 30vw;
    
}

.section4
{
    background-color: #FFFFFF;

    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.containerarticle
{
    display: flex;
    flex-direction: column;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.imgcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

