body
{
    margin: 0;
    padding: 0;
}

h1
{
   font-size: 4em;
   margin: 0;
   text-align: center;
}

h2
{
   font-size: 2.5rem;
   text-align: center;
}

h3
{
   font-size: 2rem;
   text-align: center;
   margin: 10%;
}


p
{
    font-size: 1.5em;
    text-align: center;
}

img
{
    max-width: 100%;
}

.navbtn
{
    margin: 5vw;
    position: fixed;
    
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.button 
{
 /*  text-align: center;*/
    margin: 10%;
}

#main {
    transition: margin-left .5s;
  }

.main
{ 
    height: 100vh;
	max-width: 100vw;
    min-width: 100vw;
	display: flex;
    flex-direction: column;
	justify-content:flex-start;
	align-items: flex-start;


    
}



.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerarticle
{
    display: flex;
    flex-direction: column;
}

.containerbgless
{
    color: white;

    background-size: cover;
    background-image: url('media/foret.webp');

    margin: 0;

    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 0;


}
.containerbggrey
{
    background-color: #F3F6FA;
    background-repeat: no-repeat;
    background-size: 200vw;
   background-position:  center;
    background-position-y: -10vh;
    background-image: url('media/backgroundgrey.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.containerbggrey2
{
    background-color: #F3F6FA;
    background-repeat: no-repeat;
    background-size: 200vw;
   background-position:  center;
    background-position-y: -10vh;
    background-image: url('media/backgroundgrey.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.containerbgwhite
{
    background-color: #FFFFFF;

    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}
.containerbgblue
{
    color: white;

    background-color: #83D3C9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.imgcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.imgblue
{
    max-width: 90px;
    max-height: 90px;
}