body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1
{
   font-size: 4em;
   margin: 0;
   text-align: center;
}

h2
{
   font-size: 2.5rem;
   text-align: center;
}

h3
{
   font-size: 2rem;
   text-align: center;
   margin: 10%;
}


p
{
    font-size: 1.5em;
    text-align: center;
}

img
{
    max-width: 100%;
}

/*
.h1menu
{
    font-size: 2rem;
    font-weight: bold;
}

.h2menu
{
    font-size: 1rem;
}
*/
.navbtn
{
    margin: 5vw;
    position: fixed;
    
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #1C2021; 
    overflow-x: hidden;
    padding-top: 10vh; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #C6C7C7;
    display: block;
    transition: 0.3s;
  }
  
 
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.button 
{
 /*  text-align: center;*/
    margin: 10%;
}

.buttonblue
{
    margin: 10%;
}

#main {
    transition: margin-left .5s;
  }

.main
{ 
    height: 100vh;
	max-width: 100vw;
    min-width: 100vw;
	display: flex;
    flex-direction: column;
	justify-content:flex-start;
	align-items: flex-start;


    
}



.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur
{
    filter: blur(4px);
}

.containerbgless
{
    

    color: white;

    background-size: cover;
    background-image: url('media/foret.webp');

    margin: 0;

    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 0;


}
.section1
{
    background-color: #F3F6FA;
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position:  center;
    background-position-y: -15vh;
    background-image: url('media/backgroundgrey.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section2
{
    color: white;

    background-color: #83D3C9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section2 img
{
    margin: 10px;
    max-width: 90px;
    max-height: 90px;
}


.section3
{
    background-color: #F3F6FA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.section3 div
{
    text-align: center;
}

.section3 img
{
    max-width: 30vw;
    
}

.section4
{
    background-color: #FFFFFF;

    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20% 10%;
}

.containerarticle
{
    display: flex;
    flex-direction: column;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.imgcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

