.coloredsection,
.checkmarksection,
.articlesection,
.prefooter,
.footer, .intro, .header, .headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.line-decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

html {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "lato", sans-serif;
}
html input {
  font-family: "lato", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 1.65em;
}

h2 {
  font-size: 1.425em;
}

h3 {
  font-size: 1.05em;
}

p {
  font-size: 1.05em;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  padding: 0.2em 0;
  font-weight: 900;
  letter-spacing: 4px;
  width: fit-content;
  border-top: 7px double #F3F6FA;
  border-bottom: 7px double #F3F6FA;
}

h2,
h3 {
  letter-spacing: 1.5px;
  line-height: 1.4em;
}

p {
  letter-spacing: 1px;
  line-height: 1.4em;
}

p,
h2,
h3 {
  font-weight: lighter;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  transition: 0.3s;
}
a:hover {
  text-decoration-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.main {
  left: 0;
  position: relative;
  transition: 0.7s;
}

.buttonnavbar {
  top: 1em;
  left: 1em;
  position: absolute;
  height: 2.5em;
  width: 3.5em;
  padding: 1em;
  color: #F3F6FA;
  background-color: rgba(88, 91, 92, 0.8);
  border-radius: 3px;
  border: 0;
  transition: 0.7s;
}

.buttonnavbaricon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 0.9rem;
  fill: #F3F6FA;
}

.buttonnavbarcontainer {
  position: fixed;
}

.sidenav {
  width: 18rem;
  left: -18rem;
  background-color: #1C2021;
  height: 110%;
  position: fixed;
  top: -3.56em;
  transition: 0.7s;
}
.sidenav ul {
  list-style-type: none;
  padding-left: 1em;
}
.sidenav li::before {
  content: "";
  left: 1em;
  position: absolute;
  width: 90%;
  border-bottom: 1px solid #F3F6FA;
  opacity: 0.1;
}
.sidenav > ul > li > a {
  font-weight: 900;
}
.sidenav a {
  font-size: 0.9em;
  font-weight: 100;
  color: #C6C7C7;
  text-decoration: none;
  height: 2.8em;
  display: flex;
  align-items: center;
  transition: 0.7s;
}
.sidenav .homebutton {
  visibility: hidden;
}

.headercontainer {
  background-image: url("media/background/light-br.svg"), url("media/background/light-bl.svg") , url("media/background/overlay.png") , url("media/banner.jpg");
  background-repeat: no-repeat, no-repeat , repeat , no-repeat;
  background-size: 11em, 11em , 15em , cover;
  background-position: bottom right, bottom left , center , center;
  padding: 5em 3em;
}

.header {
  opacity: 0;
  transition: 3s;
}
.header h1,
.header h3 {
  cursor: default;
}

.headercontainer,
.coloredsection,
.prefooter {
  color: #FFFFFF;
}

.intro,
.checkmarksection,
.articlesection,
.footer {
  color: #585b5c;
}

.line-decoration {
  padding-top: 3em;
  width: 100%;
}
.line-decoration::before, .line-decoration::after {
  display: inline-block;
  border-top: 1px solid #C9CDD0;
  border-bottom: 1px solid #C9CDD0;
  height: 0.3rem;
  content: "";
  width: 100%;
  opacity: 0.5;
}
.line-decoration i {
  margin: 0 2rem;
  font-size: 3em;
  color: #C9CDD0;
}

.intro {
  padding: 3em 1.8em;
  padding-top: 1em;
}
.intro a {
  color: #83D3C9;
}

.sectioncontainer {
  background-image: url("media/background/dark-tl.svg"), url("media/background/dark-tr.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 11em, 11em;
  background-position: top left, top right;
  background-color: #F3F6FA;
}

.coloredsection p,
.checkmarksection p,
.articlesection p {
  text-align: justify;
}

.coloredsection,
.checkmarksection,
.articlesection,
.prefooter,
.footer {
  padding: 3em 1.8em;
}

.coloredsection {
  background-color: #83D3C9;
}

.imgcoloredsection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.prefooter {
  background-image: url("media/background/light-tl.svg"), url("media/background/light-tr.svg") , url("media/background/overlay.png") , url("media/banner.jpg");
  background-repeat: no-repeat, no-repeat , repeat , no-repeat;
  background-size: 11em, 11em , 15em , cover;
  background-position: top left, top right , center , center;
}

.articlesection {
  background-color: #FFFFFF;
}
.articlesection .article {
  margin: 3em 0;
}
.articlesection img {
  width: 100%;
}
.articlesection h2 {
  margin: 0;
}

.coloredsection div,
.checkmarksection div {
  margin: 1.8em 0;
}

.checkmarksection i {
  color: #C9CDD0;
  font-size: 5em;
}

.coloredsection svg {
  fill: #AEE2DC;
  width: 5em;
  margin: 0.5em;
}
.coloredsection div {
  margin: 0;
}

.button-tertiary {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  max-width: 17rem;
  line-height: 3em;
  margin: 0.5rem;
  transition: 0.3s;
}
.button-tertiary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.button-secondary {
  text-align: center;
  background-color: rgba(88, 91, 92, 0);
  border: 1px solid #585b5c;
  color: #585b5c;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  max-width: 17rem;
  line-height: 3em;
  margin: 0.5rem;
  transition: 0.3s;
}
.button-secondary:hover {
  background-color: rgba(88, 91, 92, 0.1);
  cursor: pointer;
}

.button-quaternary {
  text-align: center;
  background-color: #83d3c9;
  border: 1px solid #83D3C9;
  color: #F3F6FA;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  max-width: 17rem;
  line-height: 3em;
  margin: 0.5rem;
  transition: 0.3s;
}
.button-quaternary:hover {
  background-color: #83D3C9;
  cursor: pointer;
}

.button-header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  max-width: 17rem;
  line-height: 3em;
  margin: 0.5rem;
  transition: 0.3s;
}
.button-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.button-quaternary:hover {
  filter: brightness(1.075);
}

.button-header {
  max-width: 13.5rem;
}

.footer {
  background-color: #F3F6FA;
}
.footer input {
  margin: 0.2rem;
  width: 2.5rem;
  transition: 0.3s;
}
.footer input:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  filter: brightness(115%);
}
.footer p {
  font-size: 0.9em;
  line-height: 1em;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.4em;
  }
  body {
    background-image: url("media/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    font-size: 3.4em;
    letter-spacing: 8px;
  }
  .sidenav {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
  }
  .sidenav ul {
    padding: 0;
  }
  .sidenav > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .sidenav > ul > a {
    justify-content: start;
  }
  .sidenav > ul > li {
    margin: 0 2em;
  }
  .sidenav > ul > li > a .weight-x-large {
    font-weight: 900;
  }
  .sidenav > ul > li > a .weight-light {
    font-weight: 100;
  }
  .sidenav > ul > ul {
    top: 5em;
    right: 7.7em;
  }
  .sidenav > ul > ul,
.sidenav ul > ul > ul {
    position: fixed;
    background-color: #FFFFFF;
    width: 10em;
    visibility: hidden;
    color: #444747;
    border-bottom: 2px solid rgba(88, 91, 92, 0.1);
    border-right: 1px solid rgba(88, 91, 92, 0.08);
    border-left: 1px solid rgba(88, 91, 92, 0.08);
  }
  .sidenav > ul > ul > li > a,
.sidenav > ul > ul > ul > li > a {
    color: #585b5c;
  }
  .sidenav > ul > ul > ul {
    right: 17.7em;
    top: 12.5em;
  }
  .sidenav li::before {
    display: none;
  }
  .sidenav .homebutton {
    visibility: visible;
    padding-left: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
  }
  .sidenav a {
    height: 1.5em;
    width: 100%;
  }
  .sidenav ul,
.sidenav a {
    transition: 0.1s;
  }
  .sidenav .btn-nav-tertiary-bold {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    font-weight: 900;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0.1em 0.4em;
  }
  .sidenav .btn-nav-tertiary-bold:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    cursor: pointer;
  }
  .sidenav .btn-nav-tertiary-bold-scrolled {
    display: flex;
    justify-content: center;
    background-color: rgba(88, 91, 92, 0);
    border: 1px solid rgba(88, 91, 92, 0);
    font-weight: 900;
    color: #585b5c;
    font-size: 16px;
    padding: 0.1em 0.4em;
  }
  .sidenav .btn-nav-tertiary-bold-scrolled:hover {
    background-color: rgba(88, 91, 92, 0.1);
    border: 1px solid rgba(88, 91, 92, 0);
    cursor: pointer;
  }
  .sidenav .btn-nav-tertiary-light {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    font-weight: 100;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0.1em 0.4em;
  }
  .sidenav .btn-nav-tertiary-light:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    cursor: pointer;
  }
  .sidenav .btn-nav-tertiary-light-scrolled {
    display: flex;
    justify-content: center;
    background-color: rgba(88, 91, 92, 0);
    border: 1px solid rgba(88, 91, 92, 0);
    font-weight: 100;
    color: #585b5c;
    font-size: 16px;
    padding: 0.1em 0.4em;
  }
  .sidenav .btn-nav-tertiary-light-scrolled:hover {
    background-color: rgba(88, 91, 92, 0.1);
    border: 1px solid rgba(88, 91, 92, 0);
    cursor: pointer;
  }
  .sidenav .btn-nav-quaternary-bold {
    display: flex;
    justify-content: center;
    background-color: #83d3c9;
    border: 1px solid #83D3C9;
    font-weight: 900;
    color: #F3F6FA;
    font-size: 16px;
    padding: 0.1em 0.4em;
  }
  .sidenav .btn-nav-quaternary-bold:hover {
    background-color: #83d3c9;
    border: 1px solid #83D3C9;
    cursor: pointer;
  }
  .sidenav > ul ul {
    padding: 1em 0;
    width: 10em;
  }
  .btn-nav-quaternary-bold:hover {
    filter: brightness(1.075);
  }
  .menulayouts::before {
    content: "";
    width: 22em;
    height: 22em;
    background-color: red;
  }
  .btn-nav-tertiary-light::before {
    top: 0;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin-right: 1em;
    transform: rotate(225deg);
  }
  .btn-nav-tertiary-light-scrolled::before {
    top: 0;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-top: 3px solid #585b5c;
    border-left: 3px solid #585b5c;
    margin-right: 1em;
    transform: rotate(225deg);
  }
  .whitespace {
    padding: 0.2em 1em;
    background-color: #FFFFFF;
    height: fit-content;
    border-bottom: 1px solid #C9CDD0;
  }
  .whitespace:hover {
    background-color: #83D3C9;
  }
  .no-border-bot {
    border: 0px;
  }
  .buttonnavbarcontainer {
    display: none;
  }
  .main {
    position: static;
  }
  .headercontainer {
    background-image: url("media/background/light-br.svg"), url("media/background/light-bl.svg") , url("media/background/overlay.png");
    background-repeat: no-repeat, no-repeat , repeat;
    background-size: 26em, 26em , 15em;
    background-position: bottom right, bottom left , center;
  }
  .header {
    padding: 3em 3em;
    background-color: rgba(34, 8, 0, 0.4);
    width: 20em;
  }
  .sectioncontainer {
    background-image: url("media/background/dark-tl.svg"), url("media/background/dark-tr.svg") , url("media/background/dark-br.svg"), url("media/background/dark-bl.svg");
    background-repeat: no-repeat, no-repeat , no-repeat, no-repeat;
    background-size: 26em, 26em , 26em, 26em;
    background-position: top left, top right , bottom right, bottom left;
    padding: 5em 12em;
  }
  .line-decoration i {
    font-size: 4em;
  }
  .intro {
    padding: 3em 12em;
  }
  .coloredsection {
    background-image: url("media/background/light-br.svg"), url("media/background/light-bl.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 26em, 26em;
    background-position: bottom right, bottom left;
    flex-direction: row-reverse;
  }
  .coloredsection svg {
    width: 7em;
    padding: 0.5em;
  }
  .coloredsectiontext {
    min-width: 65%;
    max-width: 65%;
    text-align: left;
  }
  .checkmarksection {
    flex-direction: row;
  }
  .checkmarksection p {
    text-align: center;
  }
  .checkmarksection div {
    margin: 1.8em 0;
  }
  .checkmarksection i {
    font-size: 7em;
  }
  .prefooter,
.footer,
.coloredsection,
.articlesection {
    padding: 5em 5em;
  }
  .containerarticle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .containerarticle p {
    text-align: center;
  }
  .containerarticle div {
    width: 45%;
  }
  .prefooter {
    background-image: url("media/background/light-tl.svg"), url("media/background/light-tr.svg") , url("media/background/overlay.png");
    background-repeat: no-repeat, no-repeat , repeat;
    background-size: 26em, 26em , 15em;
    background-position: top left, top right , center;
  }
  .footer p {
    font-size: 1em;
  }
  .footer input {
    width: 4em;
  }
  .dottedpipe::after {
    content: "";
    height: 10.5rem;
    border-right: 1px dotted #585b5c;
    margin: 1rem;
  }
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
}

/*# sourceMappingURL=sytlesheet2.0.css.map */
